# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [4]:
def addTwo(x):
    return x + 2

print(addTwo(4))

# Lambda Function Syntax
# Example of calling a lambda function without a variable
print((lambda x: x + 2)(4))

6
6

#### Saving to a Variable

In [ ]:
f_test = lambda x: x + 2

f_test(4)

#### Multiple Inputs

In [ ]:
# Multiple Inputs with no variable
print((lambda x,y,z: x * y * z)(3,5,8))

# Multiple Inputs with a variable attached
x_test = lambda x,y,z: x * y * z
print(x_test(3,5,8))

#### Passing a Lambda into a Function

In [44]:
def apply_func(f, name): # asking for input of a function and str(name)
    return f(name)

def get_first_letter(string): # slice the first index of the string
    return string[0]

apply_func(get_first_letter, 'Brian')

'e'

In [7]:
apply_func(lambda string: string[-1], 'codingtemple') # used lambda instead of "get_first_letter"

'e'

#### Returning a Lambda from a Function

In [12]:
# regular defined function:

def create_multiplier(num):
    def inner_func(x):
        return num * x
    return inner_func

five = create_multiplier(5)

five(32)

160

In [15]:
def new_multiplier(num):      # replacing the inner function with lambda but acts the same 
    return lambda x: num * x

three = new_multiplier(3)
three(3)

9

#### If Statements within Lambdas

In [45]:
def do_something(num):
    if num > 10:
        return num * 2
    else:
        return num + 2
    
do_something(9)

12

In [17]:
def do_something_again(num):
    return num * 2 if num > 10 else num + 2

do_something_again(10)

12

In [19]:
# Lambda input(s): <value to return if true> if <condition> else <value to return if false>

(lambda num: num *2 if num > 10 else num + 2)(11)

22

In [ ]:
(lambda x: x if x > 100 else x/2 if x > 50 else x * 5 if x > 20 else 0)(16)

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [32]:
# immediately invoked 

(lambda x: x ** 3)(3)

f = (lambda x: x ** 3)
f(3)

27

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [48]:
def squared_minus_two(a):
    return a ** 2 - 2 

numbers = [2, 3, 6, 6, 23, 7, 23, 6, 64]

new_nums = []
for nums in numbers:
    new_num = squared_minus_two(nums)
    new_nums.append(new_num)
print(new_nums)

[2, 7, 34, 34, 527, 47, 527, 34, 4094]

In [ ]:
# map (function, iterable -> list, tuple, string, set, ect)

In [36]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
more_nums = [9, 8, 7, 6, 5, 4]

def some_func(x,y):
    print(f" X = {x} Y = {y}")
    return x * y

list(map(some_func, nums, more_nums))

 X = 1 Y = 9
 X = 2 Y = 8
 X = 3 Y = 7
 X = 4 Y = 6
 X = 5 Y = 5
 X = 6 Y = 4

[9, 16, 21, 24, 25, 24]

#### Using Lambda's with Map

In [37]:
# if you don't include list, then it will return a map object (need to convert)

numbers = [2, 3, 6, 6, 23, 7, 23, 6, 64]
list(map(lambda num: num **2 -2, numbers))

[2, 7, 34, 34, 527, 47, 527, 34, 4094]

In [47]:
list(map(lambda x, y : x * y, nums, more_nums))

[9, 16, 21, 24, 25, 24]

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number and minus it by one in the list by using a lambda function</p>

### New exercise
use the map function to double each number if it is even and halve it if it is odd

In [39]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list(map(lambda num: num*2 if num % 2 == 0 else num/2, numbers))

[0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [50]:
# filter () - - - filter(function or None, iterable) --> filter object

In [55]:
names = ['Bob', 'Andy', 'Max', 'Evan', 'Amy', 'Allison']

# map will return the return value of the function

def starts_with_a(name):
    return name[0].upper() == 'A'

    
a_names_map = list(map(starts_with_a, names))
print(a_names_map)

[False, True, False, False, True, True]

In [53]:
# looks at the return value and returns True

a_names_filter = list(filter(starts_with_a, names))
print(a_names_filter)

['Andy', 'Amy', 'Allison']

#### Using Lambda's with Filter()

In [56]:
list(filter(lambda name: name[0].upper() == 'A', names))

['Andy', 'Amy', 'Allison']

In [57]:
def remainder(num):
    return num % 3

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list(map(remainder, my_list))

[1, 2, 0, 1, 2, 0, 1, 2, 0]

In [58]:
list(filter(remainder, my_list))

[1, 2, 4, 5, 7, 8]

In [59]:
def empty_or_full(x):
    if x > 10:
        return [1, 2, 3]
    else:
        return []
    
list(filter(empty_or_full, [0, 5, 10, 15, 20]))

[15, 20]

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [74]:
import statistics
import random

# nums = [random.randint(1,100) for _ in range(20)]
num_list = [73, 2, 11, 39, 78, 76, 13, 27, 61, 11, 32, 100, 79, 80, 12, 52, 5, 77, 91, 60]

In [81]:
the_mean = statistics.mean(num_list)

list(filter(lambda x: x > the_mean, num_list))

[73, 79, 76, 61, 100, 79, 80, 52, 77, 91, 60]

In [84]:
list(filter(lambda x: x > statistics.mean(num_list), num_list))

[73, 79, 76, 61, 100, 79, 80, 52, 77, 91, 60]

In [93]:
def find_the_num(num_list):
    return list(filter(lambda x: x > statistics.mean(num_list), num_list))
    
new_list = [73, 2, 11, 39, 78, 76, 13, 27, 61, 11, 32, 100, 79, 80, 12, 52, 5, 77, 91, 60]
find_the_num(new_list)

[73, 78, 76, 61, 100, 79, 80, 52, 77, 91, 60]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [267]:
from functools import reduce

# reduce(function,iterable)

list_1 = [2,4,6,8,10]

def addNums(num1,num2):
    return num1 + num2

result_add = reduce(addNums,list_1)

print(result_add)

# Subtract a list of numbers
def subtractNums(num1,num2):
    return num1 - num2

result_sub = reduce(subtractNums, list_1)
print(result_sub)

30
-26

#### Using Lambda's with Reduce()

In [268]:
result_lamb = reduce(lambda x,y: x + y, list_1)
print(result_lamb)

30

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [270]:
list_1 = [2, 4, 6, 8, 10]

reduce(lambda num1, num2: num1 * num2, list_1)

3840

In [271]:
prod = 1
for num in list_1:
    prod *= num
    
prod

3840

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

#### Implementing a Base Case

In [295]:
import time
def full_name(first, last):
    time.sleep(5)
    return first + ' ' + last

def greet_person(first, last, day_of_week):
    print("Hello")
    person_full_name = full_name(first, last)
    print("Goodbye")
    print(f"Hello {person_full_name}, it sure is beautiful on this {day_of_week.title()}!")
    
    
greet_person('Brian', 'Stanton', 'tuesday')

Hello
Goodbye
Hello Brian Stanton, it sure is beautiful on this Tuesday!

In [285]:
def addNums(num):
    # Set base case for recusive function
    if num <= 1:
        print("addNums(1) = 1")
        return num
    else:
        print(f"addNums({num}) = {num} + addNums({num - 1})")
        return num + addNums(num - 1)
    
addNums(5)

addNums(5) = 5 + addNums(4)
addNums(4) = 4 + addNums(3)
addNums(3) = 3 + addNums(2)
addNums(2) = 2 + addNums(1)
addNums(1) = 1

15

#### Writing a Factorial Function

In [297]:
# 5! = 5 * 4 ! .... 
# 4! = 4 * 3 !
# ...
# 1! = 1

def factorial(n):
    if n <= 1:
        return 1
    else:
        return n * factorial(n-1)
    
factorial(5)

120

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

In [304]:
def sub_nums(num):
    # set up base case
    if num <= 1:
        print(f"sub_nums({num}) = {num}")
        return num
    else:
        print(f"sub_nums({num}) = {num} - sub_nums({num - 1})")
        return num
    
sub_nums(5)

sub_nums(5) = 5 - sub_nums(4)

5

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

In [313]:
a = map(len, ['Brian', 'Stanton', 'Coding Temple'])
print(a)

<map object at 0x7faed7b458e0>

In [314]:
a[1]

TypeError: 'map' object is not subscriptable

In [315]:
for i in a:
    print(i)

5
7
13

In [316]:
b = map(len, ['Brian', 'Stanton', 'Coding Temple'])
print(b)

<map object at 0x7faed7b45490>

In [317]:
b = list(map(len, ['Brian', 'Stanton', 'Coding Temple']))
print(b)

[5, 7, 13]

In [328]:
new_map = map(len, ['abc', 'abcd', 'abcde'])
help(new_map)

Help on map object:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [337]:
def my_range(start, stop, step = 1):
    while start < stop:
        return start 
        start += step
        
# for x in my_range(0,10):
#     print(x)
    
my_range(0,10)

0

In [357]:
def my_range(stop, start, step = 2):
    while start < stop:
        yield start # yield keyword denotes a generator
        start += step
for i in my_range(20, start = 2):
    my_generator_value = i
    print(my_generator_value)

my_range(20,start = 2)

2
4
6
8
10
12
14
16
18

In [350]:
def my_range(start, stop, step = 1):
    while start < stop:
        yield start 
        start += step
        
my_range(0,10)

In [351]:
for x in my_range(0,1):
    print(x**2)

0

In [346]:
ten_step = my_range(10, 100, 10)
ten_step

In [347]:
for num in ten_step:
    print(num)

10
20
30
40
50
60
70
80
90

#### Infinite Generator

In [ ]:
# bad, never create infinite loops

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

In [370]:
def squared_gen(a_num):
    while a_num > 0:
        yield a_num ** 2
        a_num -= 1
        
for x in squared_gen(10):
    print(x)

100
81
64
49
36
25
16
9
4
1

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [8]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

# output: ['Argentina', 'San Diego', 'Boston', 'New York']

places_list = list(filter(lambda place: place.strip() != '', places))


# Taking it one step further
for place in places_list:
    print(f"The places I love to visit are: {place.strip()}")
    
lambda place: place, places_list

The places I love to visit are: Argentina
The places I love to visit are: San Diego
The places I love to visit are: Boston
The places I love to visit are: New York

(<function __main__.<lambda>(place)>,
 ['Argentina', 'San Diego', 'Boston', 'New York'])

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [458]:
author = ["Joel Carter", 
          "Victor aNisimov", 
          "Andrew P. Garfield",
          "David hassELHOFF",
          "Gary A.J. Bernstein"]


sorted_authors = sorted(author, key=lambda name: name.split(" ")[-1].lower())
print (sorted_authors)

# - - - - - - 
#Accessing last name (misread instructions)
    # list(map(lambda name: name.split()[-1], author))



    
# Saving this for replace function later
# def sort_this(a_list):
#     new = []
#     sortit = []
#     for name in a_list:
#         named = name.split()
#         new.append(named)
#     for i, *value in new: 
#         sortit.append(value[-1].upper())
#         sortit.sort()
# sort_this(author)

['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [459]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]


# Final solution
temps = list(map(lambda value: (value[0], value[1] * (9/5) + 32), places))
print(temps)


# The basic way
    # new = []
    # for place, temp in places:
    #     temp = (9/5) * temp + 32
    #     new.append(place)
    #     new.append(temp)
    # print(new)
    
# Complicated lambda
    # def change_the_temp(a_list):
    #     new_list = [] 
    #     temps = list(map(lambda t: (9/5) * t[1] + 32, a_list))
    #     for index, value in enumerate(a_list):
    #         new_list.append(value[0])
    #         new_list.append(temps[index])
    #     return new_list

    # change_the_temp(places)

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 0
Iteration 1: 1
Iteration 2: 1
Iteration 3: 2
Iteration 4: 3
Iteration 5: 5
Iteration 6: 8`

In [457]:
def fib(num):
    if num <= 1:
        return num
    else:
        return fib(num - 1) + fib(num - 2)
    
    

for x in range(6):
    print(f"Iteration {x}: {fib(x)}")
    
# print(f"addNums({num}) = {num} + addNums({num - 1})")
# return num + addNums(num - 1)

Iteration 0: 0
Iteration 1: 1
Iteration 2: 1
Iteration 3: 2
Iteration 4: 3
Iteration 5: 5